<div class="row">
    <div class="col-3">
        <app-endpoint [host]="'http://localhost:8081'" [url]="'pessoa/98765'"></app-endpoint>
    </div>
    <div class="col-3">
        <app-endpoint [host]="'http://localhost:8082'" [url]="'receita/12345|user=cvieira'"></app-endpoint>
    </div>
    <div class="col-3">
        <app-endpoint [host]="'http://localhost:8083'" [url]="'processo/12'"></app-endpoint>
    </div>
    <div class="col-3">
        <app-endpoint [host]="'http://localhost:8084'" [url]="'controle/30'"></app-endpoint>
    </div>
</div>
<hr style="margin-bottom: 10px; margin-top: 10px;" />
<div class="row">
    <div class="jumbotron col-12">
        Interface de consolidação.
    </div>
</div>